<a href="https://colab.research.google.com/github/soniapachecomza/python-practica/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [1]:
!python -V

Python 3.8.16

# 1.3 Trabajando con datos

In [23]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [19]:
dataset = pd.read_csv('db.csv', sep = ';')

In [24]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [25]:
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [26]:
dataset[['Kilometraje', 'Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [272]:
{}

{}

In [273]:
1, 2, 3

(1, 2, 3)

In [274]:
nombre = 'Passat'
valor= 135000
{nombre, valor}

{135000, 'Passat'}

In [275]:
nombres_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [276]:
type(nombres_carros)

tuple

# 2.2 Selecciones en tuplas

In [ ]:
nombres_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_carros

In [33]:
nombres_carros[2]

'Crossfox'

In [34]:
nombres_carros[1]

'Passat'

In [35]:
nombres_carros[-1]

'DS5'

In [36]:
nombres_carros[1:3]

('Passat', 'Crossfox')

In [37]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [38]:
nombres_carros[-1]

('Fusca', 'Gol', 'C4')

In [39]:
nombres_carros[-1][1]

'Gol'

In [41]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [42]:
carros[0][3]

False

In [43]:
carros[-1][-1][-1]

'Frenos ABS'

In [44]:
carros[0][-1][:2]

('Llantas de aleación', 'Cerraduras eléctricas')

# 2.3 Iterando en tuplas

In [40]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [47]:
for item in nombres_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [50]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [51]:
carro_1, carro_2, carro_3, carro_4 = nombres_carros

In [52]:
carro_1

'Jetta Variant'

In [53]:
carro_2

'Passat'

In [54]:
carro_3

'Crossfox'

In [55]:
carro_4

'DS5'

In [56]:
_, A, _, B = nombres_carros

In [57]:
A

'Passat'

In [58]:
B

'DS5'

In [60]:
_, C, *_ = nombres_carros

In [61]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [62]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [63]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [65]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [66]:
for item in  zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [67]:
for carro, valor  in  zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [68]:
for carro, valor  in  zip(carros, valores):
  if (valor > 100000):
    print(carro, valor)

Passat 106161.94
DS5 124549.07

In [69]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [71]:
for tupla in carros:
    print(tupla[-1])

('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
('Central multimedia', 'Techo panoramico', 'Frenos ABS')

In [72]:
for tupla in carros:
    for item in tupla:
        print(item)

Jetta Variant
Motor 4.0 Turbo
2003
False
('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
Passat
Motor Diesel
1991
True
('Central multimedia', 'Techo panoramico', 'Frenos ABS')

In [73]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Llantas de aleación
Cerraduras eléctricas
Piloto automático
Central multimedia
Techo panoramico
Frenos ABS

In [74]:
for tupla in carros:
    print(tupla)

('Jetta Variant', 'Motor 4.0 Turbo', 2003, False, ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático'))
('Passat', 'Motor Diesel', 1991, True, ('Central multimedia', 'Techo panoramico', 'Frenos ABS'))

In [75]:
nombre, valor = ('Passat', 100000.0)

In [76]:
nombres = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nombres, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [77]:
nombres = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [86]:
for nombre, km in zip(nombres, kms):
  if(km < 20000):
    print(nombre)

Passat
Crossfox
C4

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [87]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [88]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [89]:
carros.index('Passat')

1

In [90]:
valores[carros.index('Passat')]

106161.94

In [91]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.12}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.12}

In [93]:
type(datos)

dict

### Creando diccionarios con *zip()*

In [95]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [97]:
datos = dict(zip(carros, valores))
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [98]:
nombres = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [101]:
dict(zip(nombres, kms))

{'Passat': 15000, 'Crossfox': 12000, 'DS5': 32000, 'C4': 8000, 'Jetta': 50000}

In [102]:
list(zip(nombres, kms))

[('Passat', 15000),
 ('Crossfox', 12000),
 ('DS5', 32000),
 ('C4', 8000),
 ('Jetta', 50000)]

# 3.2 Operaciones con diccionarios

In [103]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.12}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.12}

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [279]:
datos['Passat']

KeyError: ignored

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [105]:
'Passat' in datos

True

In [106]:
'Fusca' in datos

False

In [107]:
'Fusca' not in datos

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [108]:
len(datos)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [109]:
datos['DS5']=124549.07
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.12,
 'DS5': 124549.07}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [112]:
del datos['Passat']

In [113]:
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.12, 'DS5': 124549.07}

In [114]:
datos = {
    'Passat': {
        'año': 2012,
        'km': 50000,
        'valor': 75000,
        'accesorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'año': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [115]:
datos

{'Passat': {'año': 2012,
  'km': 50000,
  'valor': 75000,
  'accesorios': ['Airbag', 'ABS']},
 'Crossfox': {'año': 2015, 'km': 35000, 'valor': 25000}}

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [117]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.12}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.12}

In [118]:
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.12}

In [119]:
datos.update({'Passat': 106161.94})
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.12}

In [121]:
datos.update({'Passat': 106161.95, 'Fusca': 150000})
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.95,
 'Crossfox': 72832.12,
 'Fusca': 150000}

## *dict.copy()*

Crea una copia del diccionario.

In [122]:
datosCopy = datos.copy()

In [123]:
datosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.95,
 'Crossfox': 72832.12,
 'Fusca': 150000}

In [124]:
del datosCopy['Fusca']
datosCopy

{'Jetta Variant': 88078.64, 'Passat': 106161.95, 'Crossfox': 72832.12}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [125]:
datosCopy

{'Jetta Variant': 88078.64, 'Passat': 106161.95, 'Crossfox': 72832.12}

In [126]:
datosCopy.pop('Passat')

106161.95

In [127]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.12}

In [128]:
datosCopy.pop('Passat', 'Llave no fue encontrada')

'Llave no fue encontrada'

In [130]:
datosCopy.pop('DS5', 'Llave no fue encontrada')

'Llave no fue encontrada'

In [131]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.12}

## *dict.clear()*

Borra todos los itens del diccionario.

In [132]:
datosCopy.clear()

In [133]:
datosCopy

{}

# 3.4 Iterando en diccionarios

In [182]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.12}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.12}

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [183]:
datos.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox'])

In [184]:
for key in datos.keys():
  print(key)

Jetta Variant
Passat
Crossfox

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [185]:
datos.values()

dict_values([88078.64, 106161.94, 72832.12])

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [186]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.12)])

In [187]:
for item in datos.items():
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.12)

In [188]:
for key, value in datos.items():
  print(key, '->', value)

Jetta Variant -> 88078.64
Passat -> 106161.94
Crossfox -> 72832.12

In [189]:
for key, value in datos.items():
  if (value)>100000:
    print(key)

Passat

In [190]:
datos = {
    'Crossfox': {'valor': 72000, 'año': 2005}, 
    'DS5': {'valor': 125000, 'año': 2015}, 
    'Fusca': {'valor': 150000, 'año': 1976}, 
    'Jetta': {'valor': 88000, 'año': 2010}, 
    'Passat': {'valor': 106000, 'año': 1998}
}

In [191]:
for item in datos.items():
    if(item[1]['año'] >= 2000):
        print(datos.keys())

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta', 'Passat'])
dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta', 'Passat'])
dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta', 'Passat'])

In [192]:
for item in datos.values():
    if(item['año'] >= 2000):
        print(datos)

{'Crossfox': {'valor': 72000, 'año': 2005}, 'DS5': {'valor': 125000, 'año': 2015}, 'Fusca': {'valor': 150000, 'año': 1976}, 'Jetta': {'valor': 88000, 'año': 2010}, 'Passat': {'valor': 106000, 'año': 1998}}
{'Crossfox': {'valor': 72000, 'año': 2005}, 'DS5': {'valor': 125000, 'año': 2015}, 'Fusca': {'valor': 150000, 'año': 1976}, 'Jetta': {'valor': 88000, 'año': 2010}, 'Passat': {'valor': 106000, 'año': 1998}}
{'Crossfox': {'valor': 72000, 'año': 2005}, 'DS5': {'valor': 125000, 'año': 2015}, 'Fusca': {'valor': 150000, 'año': 1976}, 'Jetta': {'valor': 88000, 'año': 2010}, 'Passat': {'valor': 106000, 'año': 1998}}

In [193]:
for item in datos.values():
    if(item['año'] >= 2000):
        print(item)

{'valor': 72000, 'año': 2005}
{'valor': 125000, 'año': 2015}
{'valor': 88000, 'año': 2010}

In [194]:
for item in datos.items():
    if(item[1]['año'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [149]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [151]:
valores = []
for valor in datos.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [152]:
suma = 0
for valor in datos.values():
  suma+=valor
suma

267072.74

In [153]:
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [155]:
sum(datos.values(), 1000000)

1267072.7399999998

In [ ]:
help(print)

In [157]:
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [161]:
def media():
  valor = (1+2+3) /3
  print(valor)

In [162]:
media()

2.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [163]:
def media(number_1, number_2, number_3):
  valor = (number_1 + number_2 + number_3)/3
  print(valor)

In [164]:
media(1,2,3)

2.0

In [165]:
media(23,45,67)

45.0

In [166]:
def media(lista):
  valor = sum(lista) /len(lista)
  print(valor)

In [168]:
resultado = media([1,2,3,4,5,6,7,8,9])

5.0

In [169]:
resultado

In [170]:
type(resultado)

NoneType

In [ ]:
KMmedia = KMtotal / (AÑOactual - AÑOfabricación)

In [172]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

In [173]:
def km_media(dataset, año_actual):
    for item in _______________:
        result = _____________ / (año_actual - ____________)
        print(result)

In [ ]:
km_media(datos, 2019)

In [175]:
2500.0
4250.0
3250.0
7000.0
3100.0

3100.0

In [176]:
def km_media(dataset, año_actual):
    for item in dataset.items():
        result = item['km'] / (año_actual - item['año'])
        print(result)

In [177]:
def km_media(dataset, año_actual):
    for item in datos.items():
        result = item[1]['km'] / (año_actual - item[1]['año'])
        print(result)

In [178]:
def km_media(dataset, año_actual):
    for item in dataset:
        result = item[1]['km'] / (año_actual - item[1]['año'])
        print(result)

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [179]:
def media(lista):
  valor = sum(lista)/ len(lista)
  print(valor)

In [180]:
media([1,2,3,4,5,6,7,8])

4.5

In [181]:
resultado = media([1,2,3,4,5,6,7,8])

4.5

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [195]:
def media(lista):
  valor = sum(lista)/ len(lista)
  print(valor, len(lista))

In [196]:
media([1,2,3,4,5,6,7,8])

4.5 8

In [ ]:
resultado, n = media([1,2,3,4,5,6,7,8,9])

In [204]:
resultado

In [ ]:
n

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [206]:
import pandas as pd

### Creando una Series a partir de una lista

In [207]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [208]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [209]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [210]:
dataset = pd.DataFrame(datos)

In [211]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un diccionario

In [212]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [213]:
dataset = pd.DataFrame(datos)

In [214]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [215]:
dataset = pd.read_csv('db.csv' , sep = ';')

In [216]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [217]:
dataset.head()

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [218]:
dataset['Valor']

0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64

In [219]:
type(dataset['Valor'])

pandas.core.series.Series

In [220]:
dataset[['Valor']]

         Valor
0     88078.64
1    106161.94
2     72832.16
3    124549.07
4     92612.10
..         ...
253   51759.58
254   51667.06
255   68934.03
256  122110.90
257   90381.47

[258 rows x 1 columns]

In [221]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [237]:
dataset[0:3]

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [ ]:
dataset.loc['Passat']

In [ ]:
dataset.loc[['Passat', 'DS5']]

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Diesel']]

In [ ]:
dataset.loc[:, ['Motor', 'Diesel']]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [241]:
dataset.head()

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [243]:
dataset.iloc[[1]]

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [244]:
dataset.iloc[1:4]

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [245]:
dataset.iloc[1:4, [0, 5, 2]]

     Nombre                                         Accesorios   Año
1    Passat  ['Central multimedia', 'Techo panorámico', 'Fr...  1991
2  Crossfox  ['Piloto automático', 'Control de estabilidad'...  1990
3       DS5  ['Cerraduras electricas', '4 X 4', 'Ventanas e...  2019

In [246]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

,Nombre,Accesorios,Año
1,Passat,"['Central multimedia', 'Techo panorámico', 'Fr...",1991
42,Optima,"['Central multimedia', 'Aire condicionado', 'T...",2019
22,Lamborghini Obvious,"['Llantas de aleación', 'Transmisión automátic...",1994

In [247]:
dataset.iloc[:, [0, 5, 2]]

,Nombre,Accesorios,Año
0,Jetta Variant,"['Llantas de aleación', 'Cerraduras electricas...",2003
1,Passat,"['Central multimedia', 'Techo panorámico', 'Fr...",1991
2,Crossfox,"['Piloto automático', 'Control de estabilidad'...",1990
3,DS5,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",2019
4,Aston Martin DB4,"['Llantas de aleación', '4 X 4', 'Central mult...",2006
...,...,...,...
253,Phantom 2013,"['Control de estabilidad', 'Piloto automático'...",2014
254,Cadillac Ciel concept,"['Asientos de cuero', 'Panel digital', 'Sensor...",1991
255,Classe GLK,"['Llantas de aleación', 'Control de tracción',...",2002
256,Aston Martin DB5,"['Aire condicionado', '4 X 4', 'Transmisión au...",1996
257,Macan,"['Central multimedia', 'Techo panorámico', 'Ve...",1992

In [248]:
import pandas as pd

datos = {
   'Nombre': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos)

In [250]:
dataset[['Nombre', 'Año', 'Kilometraje', 'Valor']][2:4]

     Nombre   Año  Kilometraje    Valor
2  Crossfox  1991      37123.0  72000.0
3       DS5  2019          0.0  89000.0

In [ ]:
dataset['Nombre', 'Año', 'Kilometraje', 'Valor'][1:3]

In [252]:
dataset[['Nombre', 'Año', 'Kilometraje', 'Valor']][1:3]

     Nombre   Año  Kilometraje     Valor
1    Passat  2003       5712.0  106000.0
2  Crossfox  1991      37123.0   72000.0

In [253]:
dataset[['Nombre', 'Año', 'Kilometraje', 'Valor']][1:2]

   Nombre   Año  Kilometraje     Valor
1  Passat  2003       5712.0  106000.0

In [254]:
import pandas as pd

datos = {
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
   'Año': [2019, 2003, 1991, 2019, 1990],
   'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
   'Cero_km': [True, False, False, True, False],
   'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [255]:
dataset.iloc[[1, 3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
dataset.loc[[1, 3], [0, -1]]

In [257]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
dataset.iloc[['Passat', 'DS5'], ['Motor', 'Valor']]

# 5.3 Consultas en DataFrames

In [259]:
dataset.head()

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5             Motor 2.0  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [260]:
dataset.Motor

Jetta       Motor 4.0 Turbo
Passat         Motor Diesel
Crossfox    Motor Diesel V8
DS5               Motor 2.0
Fusca             Motor 1.6
Name: Motor, dtype: object

In [261]:
dataset.Motor == 'Motor Diesel'

Jetta       False
Passat       True
Crossfox    False
DS5         False
Fusca       False
Name: Motor, dtype: bool

In [262]:
type(dataset.Motor == 'Motor Diesel')

pandas.core.series.Series

In [263]:
dataset[dataset.Motor == 'Motor Diesel']

               Motor   Año  Kilometraje  Cero_km     Valor
Passat  Motor Diesel  2003       5712.0    False  106000.0

### Utilizando el método query

In [264]:
dataset.query('Motor == "Motor Diesel" and Cero_km == True')

Empty DataFrame
Columns: [Motor, Año, Kilometraje, Cero_km, Valor]
Index: []

In [265]:
import pandas as pd

datos = {
  'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [266]:
dataset.query('Motor == "Motor Diesel" | Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [267]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Cero_km == True)]

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [268]:
dataset.query('Motor == "Motor Diesel" or Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

In [269]:
dataset[(dataset.Motor == 'Motor Diesel') or (dataset.Cero_km == True)]

ValueError: ignored

# 5.4 Iterando con DataFrames

In [277]:
import pandas as pd

In [280]:
dataset = pd.read_csv('db.csv' , sep = ';')

In [281]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [282]:
dataset.head()

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [283]:
for item in dataset:
  print(item)

Nombre
Motor
Año
Kilometraje
Cero_km
Accesorios
Valor

In [284]:
list(dataset.iterrows())

[(0, Nombre                                             Jetta Variant
  Motor                                            Motor 4.0 Turbo
  Año                                                         2003
  Kilometraje                                              44410.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Cerraduras electricas...
  Valor                                                   88078.64
  Name: 0, dtype: object),
 (1, Nombre                                                    Passat
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                               5712.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
  Valor                                                  106161.94
  Name: 1, dtype: object),
 (2, Nombre                                                  Crossfox
  Motor                                            Motor Diesel V8
  Año                                                         1990
  Kilometraje                                              37123.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Control de estabilidad'...
  Valor                                                   72832.16
  Name: 2, dtype: object),
 (3, Nombre                                                       DS5
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Cerraduras electricas', '4 X 4', 'Ventanas e...
  Valor                                                  124549.07
  Name: 3, dtype: object),
 (4, Nombre                                          Aston Martin DB4
  Motor                                            Motor 2.4 Turbo
  Año                                                         2006
  Kilometraje                                              25757.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', '4 X 4', 'Central mult...
  Valor                                                    92612.1
  Name: 4, dtype: object),
 (5, Nombre                                             Palio Weekend
  Motor                                              Motor 1.8 16v
  Año                                                         2012
  Kilometraje                                              10728.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Techo panorámic...
  Valor                                                   97497.73
  Name: 5, dtype: object),
 (6, Nombre                                                        A5
  Motor                                            Motor 4.0 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Transmisión automática', 'Cámara de estacion...
  Valor                                                    56445.2
  Name: 6, dtype: object),
 (7, Nombre                                            Série 3 Cabrio
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                              77599.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Sensor crepuscular...
  Valor                                                  112310.44
  Name: 7, dtype: object),
 (8, Nombre                                              Dodge Jorney
  Motor                                              Motor 3.0 32v
  Año                                                         2010
  Kilometraje                                              99197.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Piloto automático', '...
  Valor                                                  120716.27
  Name: 8, dtype: object),
 (9, Nombre                                                    Carens
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2011
  Kilometraje                                              37978.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Panel digital', 'Centra...
  Valor                                                   76566.49
  Name: 9, dtype: object),
 (10, Nombre                                                 Ford Edge
  Motor                                            Motor Diesel V6
  Año                                                         2002
  Kilometraje                                              12859.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Llantas de aleación', ...
  Valor                                                   71647.59
  Name: 10, dtype: object),
 (11, Nombre                                                   Courier
  Motor                                            Motor Diesel V8
  Año                                                         2007
  Kilometraje                                               8052.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', '4 X 4', 'Piloto automá...
  Valor                                                   73919.53
  Name: 11, dtype: object),
 (12, Nombre                                                      S-18
  Motor                                                   Motor V6
  Año                                                         2001
  Kilometraje                                              89773.0
  Cero_km                                                    False
  Accesorios     ['Asientos de cuero', 'Sensor de lluvia', 'Lla...
  Valor                                                  112732.99
  Name: 12, dtype: object),
 (13, Nombre                                                        J5
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor crepuscular', 'Panel digital', 'Llant...
  Valor                                                   53183.38
  Name: 13, dtype: object),
 (14, Nombre                                              F-Type Coupé
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2009
  Kilometraje                                              41457.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                  127488.42
  Name: 14, dtype: object),
 (15, Nombre                                                       RAM
  Motor                                            Motor Diesel V8
  Año                                                         2016
  Kilometraje                                             115607.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Transmisión automática...
  Valor                                                    59910.4
  Name: 15, dtype: object),
 (16, Nombre                                                   Série 1
  Motor                                              Motor 3.0 32v
  Año                                                         2012
  Kilometraje                                              46449.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Cámara de estacionamient...
  Valor                                                   61118.59
  Name: 16, dtype: object),
 (17, Nombre                                                        A3
  Motor                                               Motor 1.0 8v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   88552.39
  Name: 17, dtype: object),
 (18, Nombre                                                      XC90
  Motor                                               Motor 1.0 8v
  Año                                                         2016
  Kilometraje                                              37086.0
  Cero_km                                                    False
  Accesorios     ['Cerraduras electricas', 'Ventanas eléctricas...
  Valor                                                   62696.69
  Name: 18, dtype: object),
 (19, Nombre                                            RS 3 Sportback
  Motor                                              Motor 3.0 32v
  Año                                                         2017
  Kilometraje                                              15173.0
  Cero_km                                                    False
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   101726.3
  Name: 19, dtype: object),
 (20, Nombre                                              Pajero Sport
  Motor                                               Motor 1.0 8v
  Año                                                         2002
  Kilometraje                                             101193.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Piloto automáti...
  Valor                                                  106147.38
  Name: 20, dtype: object),
 (21, Nombre                                                 Série 1 M
  Motor                                                   Motor V8
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de estabilidad', 'Central multimedia...
  Valor                                                    94564.4
  Name: 21, dtype: object),
 (22, Nombre                                       Lamborghini Obvious
  Motor                                            Motor Diesel V6
  Año                                                         1994
  Kilometraje                                              98079.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Transmisión automátic...
  Valor                                                  133529.84
  Name: 22, dtype: object),
 (23, Nombre                                     Effa Hafei Picape Baú
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                             102959.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Panel digital', 'V...
  Valor                                                  125684.65
  Name: 23, dtype: object),
 (24, Nombre                                    Lamborghini Murciélago
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Transmisión automática', 'Aire...
  Valor                                                  121596.21
  Name: 24, dtype: object),
 (25, Nombre                                                       Up!
  Motor                                            Motor Diesel V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de estacionamiento', 'Ventanas eléctr...
  Valor                                                    71367.1
  Name: 25, dtype: object),
 (26, Nombre                                        Fiesta Rocam Sedan
  Motor                                            Motor 4.0 Turbo
  Año                                                         2016
  Kilometraje                                               5795.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Asientos de cuero', 'Tr...
  Valor                                                   95347.75
  Name: 26, dtype: object),
 (27, Nombre                                           Sandero Stepway
  Motor                                              Motor 3.0 32v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Aire condicionado', 'Techo pan...
  Valor                                                  105432.84
  Name: 27, dtype: object),
 (28, Nombre                                                  Cayman S
  Motor                                              Motor 3.0 32v
  Año                                                         2002
  Kilometraje                                              58848.0
  Cero_km                                                    False
  Accesorios     ['Transmisión automática', 'Sensor de estacion...
  Valor                                                   57045.27
  Name: 28, dtype: object),
 (29, Nombre                                                       V40
  Motor                                            Motor 4.0 Turbo
  Año                                                         1991
  Kilometraje                                              94381.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Sensor de estac...
  Valor                                                   120432.7
  Name: 29, dtype: object),
 (30, Nombre                                            Classe SLS AMG
  Motor                                               Motor 1.0 8v
  Año                                                         1997
  Kilometraje                                              30163.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Control de esta...
  Valor                                                    70707.2
  Name: 30, dtype: object),
 (31, Nombre                                                    Gol G4
  Motor                                              Motor 2.0 16v
  Año                                                         1995
  Kilometraje                                              53332.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', '4 X 4', 'Ventanas eléc...
  Valor                                                   69105.18
  Name: 31, dtype: object),
 (32, Nombre                                                     Linea
  Motor                                               Motor 1.0 8v
  Año                                                         2018
  Kilometraje                                              17720.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Panel digital', 'Ventan...
  Valor                                                   59358.69
  Name: 32, dtype: object),
 (33, Nombre                                                 Ford F100
  Motor                                              Motor 2.0 16v
  Año                                                         1991
  Kilometraje                                              33808.0
  Cero_km                                                    False
  Accesorios     ['Control de tracción', 'Sensor crepuscular', ...
  Valor                                                    65955.4
  Name: 33, dtype: object),
 (34, Nombre                                                        J2
  Motor                                                   Motor V8
  Año                                                         2014
  Kilometraje                                              90684.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Sensor de estacionamient...
  Valor                                                   60017.03
  Name: 34, dtype: object),
 (35, Nombre                                          Aston Martin DBS
  Motor                                                   Motor V8
  Año                                                         1995
  Kilometraje                                              43975.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Piloto automático', 'Air...
  Valor                                                  118909.52
  Name: 35, dtype: object),
 (36, Nombre                                                Pajero TR4
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de tracción', 'Asientos de cuero', '...
  Valor                                                   51606.59
  Name: 36, dtype: object),
 (37, Nombre                                                Polo Sedan
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de lluvia', 'Sensor crepuscular', 'Ai...
  Valor                                                  123281.87
  Name: 37, dtype: object),
 (38, Nombre                                                California
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                               5526.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Aire condicionado', '...
  Valor                                                   69770.18
  Name: 38, dtype: object),
 (39, Nombre                                                       S60
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Techo panorámico', 'Frenos ABS', '4 X 4', 'A...
  Valor                                                  102609.54

In [292]:
for index, row in dataset.iterrows():
  if(2020 - row.Año != 0):
    dataset.loc[index, 'km_media'] = row.kilometraje / {2020 -row.Año}
  else:
    dataset.loc[index, 'km_media'] = 0

dataset

AttributeError: ignored

# 5.5 Tratamiento de datos

In [294]:
dataset = pd.read_csv('db.csv' , sep = ';')

In [295]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [296]:
dataset.head()

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [297]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [298]:
dataset.Kilometraje.isna()

0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Kilometraje, Length: 258, dtype: bool

In [299]:
dataset[dataset.Kilometraje.isna()]

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20
13,J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38
17,A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
21,Série 1 M,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Central multimedia...",94564.40
...,...,...,...,...,...,...,...
238,Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Control de tracción', 'Aire condicionado', '...",67664.86
242,Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84
243,Uno,Motor Diesel V6,2019,NaN,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21
245,Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33
248,XC60,Motor 4.0 Turbo,2019,NaN,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79

In [300]:
dataset.fillna(0)

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [301]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [302]:
dataset.fillna(0, inplace = True)

In [303]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [304]:
dataset.query('Cero_km == True')

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
3,DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
6,A5,Motor 4.0 Turbo,2019,0.0,True,"['Transmisión automática', 'Cámara de estacion...",56445.20
13,J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38
17,A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
21,Série 1 M,Motor V8,2019,0.0,True,"['Control de estabilidad', 'Central multimedia...",94564.40
...,...,...,...,...,...,...,...
238,Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Control de tracción', 'Aire condicionado', '...",67664.86
242,Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84
243,Uno,Motor Diesel V6,2019,0.0,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21
245,Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33
248,XC60,Motor 4.0 Turbo,2019,0.0,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79

In [305]:
dataset = pd.read_csv('db.csv', sep = ';')

In [306]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [307]:
dataset.dropna(subset= ['Kilometraje'], inplace = True)

In [308]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47